<!DOCTYPE html>
<html lang="en">
{% include './partials/head.html' with arg="Home" %}
{% include './partials/header.html' with path="Home" %}
<body class="bg-dark">
    <div class="container">
        <div>
            <div id="spinner" class="spinner-border text-primary" role="status" style="margin:auto;display:block;width:10rem;height:10rem">
                <span class="visually-hidden">Loading...</span>
              </div>
            <canvas id="myChart"></canvas>
        </div>
      <script>
        const ctx = document.getElementById('myChart');

       fetch('/api/tempyear')
       .then((response) => response.json())
       .then ((data) => {
            document.getElementById('spinner').classList.add('d-none')
            new Chart(ctx, {
            
            data: {
                labels: data.dates,
                datasets: [
                    {
                        label: 'Temperatur',
                        type: 'line',
                        backgroundColor: '#ff0000',
                        borderColor: '#ff0000',
                        data:  data.temperature,
                        borderWidth: 1, 
                        yAxisID: 'y',
                    },
                    {
                        label: 'Luftfeuchtigkeit',
                        type: 'line',
                        backgroundColor: '#0000ff',
                        borderColor: '#0000ff',
                        data:  data.humidity,
                        borderWidth: 1,
                        yAxisID: 'y1',
                    },
                ]
            },
            options: {
                scales: {
                    y: {
                        type: 'linear',
                        display: true,
                        position: 'left',
                    },
                    y1: {
                        type: 'linear',
                        display: true,
                        position: 'right',

                        // grid line settings
                        grid: {
                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    },
                }
            }
            });
       })
      </script>
      </div>
</body>
</html>


