<!DOCTYPE html>
<html lang="en">
    {% include './partials/head.html' with arg="Home" %}
    {% include './partials/header.html' with path="Luftqualitaet" %}
    <body class="bg-dark text-white">
        <div id="container" class="container">
            <div>
                Bitte einen Monat auswählen 
                {% include './partials/datepicker.html' with onchange="monthChange()" %}
            </div>
            <div id="spinner" class="spinner-border text-primary d-none" role="status" style="margin:auto;display:block;width:10rem;height:10rem">
                <span class="visually-hidden">Loading...</span>
            </div>
            <canvas id="myChart"></canvas>
        </div>
    </body>
    <script>
        function monthChange() {
            const datepicker = document.getElementById("datepicker");
            const month = datepicker.value;

            if(month == 0) return;

            document.getElementById('spinner').classList.remove('d-none')
            let container = document.getElementById('container')
            
            const canvas = document.getElementById('myChart');
            container.removeChild(canvas);
            let newCanvas = document.createElement("canvas");
            newCanvas.id = "myChart"
            container.append(newCanvas);
            
            const ctx = document.getElementById('myChart');

            fetch('api/luftqualitaet?month=' + month + '&year=2022')
            .then((response) => response.json())
            .then((data) => {
                document.getElementById('spinner').classList.add('d-none')
                new Chart(ctx, {
                    data: {
                        labels: data.dates,
                        datasets: [
                            {
                            label: 'P1',
                            type: 'line',
                            backgroundColor: '#009688',
                            borderColor: '#009688',
                            data:  data.luftqualip1,
                            borderWidth: 1, 
                            yAxisID: 'y',
                            },
                            {
                            label: 'P2',
                            type: 'line',
                            backgroundColor: '#ffc400',
                            borderColor: '#ffc400',
                            data:  data.luftqualip2,
                            borderWidth: 1,
                            yAxisID: 'y1',
                            },
                        ]
                    },
                    options : {
                        scales: {
                            y: {
                                min: 0,
                                max: 100,
                            }
                            }
                    }
                }
                );
            })
        }
    </script>
</html>